

<h3> Map Partial Placeholder </h3>
<p> A map will appear here! </h2>
  <!-- <div class="container"> -->

    <!-- <script src="./assets/javascripts/map.js"></script> -->

  <!-- </div> -->
  <div id="map">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrwS_3ybtVFMlZVFXUyXF6nm8Et7IYlnA&callback=initMap"></script>
  </div>
