<div class="container" id="new-run-container">
<%= link_to "Start New Run", new_user_run_path(current_user), :class => "waves-effect waves-light btn #00acc1 cyan darken-1", id: 'start-new-run-btn' %>
</div>

<!-- if any of @user's runs are not complete (!is_complete)
show End My Run button
else
show start new run button -->
