<div id="rundown_container" class="rundown container center">
  <h1>The Rundown</h1>

  <div class="rundown-container">

    <%= render 'map' %>

    <%= render 'runs/run_search_button' %>
    <div class="run-form">
    </div>

    <div class='upcoming-runs-list'>

    </div>

    <%= render 'past_runs' %>

  </div>
</div>
