<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center black-text text-lighten-2" text-color:>Run2gether</h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
           <div class="parallax"><img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjXu5DD1b_QAhXDSyYKHTlhAxYQjRwIBw&url=http%3A%2F%2Fwww.athletico.com%2F2012%2F04%2F04%2Fhip-flexor-tightness-in-distance-runners%2F&psig=AFQjCNHaQXQUJ5bNAKzDGRSskLytNmKwbQ&ust=1480017640818844"></div>
        <div class="row center">
          <a href="users/new" id="alt-register-button" class="btn-large waves-effect waves-light teal lighten-1">Get started!</a>
        </div>
        <br><br>

  </body>
</html>
