<div class="example stopwatch" data-timer="900" style='width: 400px; height: 250px;'></div>
<button class="btn btn-success start">Start</button>
<button class="btn btn-danger stop">Stop</button>
<button class="btn btn-info restart">Restart</button>
