<div class="container" id="new-run-container">
  <div class="row">
    <%= link_to "Create Run", new_user_run_path(current_user), :class => "waves-effect waves-light btn #00acc1 cyan darken-1", id: 'start-new-run-btn' %>
    <%= link_to "Search for Run", runs_new_search_path, class: "waves-effect waves-light btn #00acc1 cyan darken-1", id: 'search-for-run-btn' %>
  </div>
</div>
